html {
    height: 100%;
}

body {
    background: url('/media/site-header.webp') no-repeat center center fixed;
    height: calc(100vh - 164px);
    background-size: cover;
    color: #fafafa;
    font-family: 'Montserrat';
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header-container {
    height: 164px;
}

.homepage-navigation,
.navbar {
    background-color: #fafafa;
}

.about-container {
    background: #0FA3B1;
    padding-bottom: 50px;
}

.about-header {
    padding-left: 50px;
}

.allauth-inner-content {
    padding-top: 150px;
}

.testimonials-header-container {
    background-color: #fafafa;
    text-align: center;
    margin-bottom: 20px;
}

.card-row {
    padding-bottom: 10px;
}

.testimonials-container {
    color: #343a40;
    padding-top: 50px;
    padding-bottom: 40px;
}

.register-link,
.register-link:hover {
    color: #fafafa;

}

.timetable-header {
    font-size: 250%;
}

.search-box {
    padding-bottom: 20px;
}

.class-list {
    padding-top: 20px;
}

.timetable-row {
    padding-top: 80px;
}

.class-rows {
    padding-bottom: 20px;
}

.classes-home-link {
    color: #343a40 !important;
    text-decoration: underline;
}

.class-info-container {
    background-color: #343a40;
    opacity: 0.8;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.class-booking-btns {
    margin-bottom: 10px;
}

.reservation-history-container {
    background-color: #fafafa;
    margin-bottom: 40px;
}

.reservation-header {
    color: #343a40;
    font-weight: bold;
}

.basket-container {
    background-color: #0FA3B1;
    margin-bottom: 10px;
    color: #fafafa ;
}

button, 
.btn {
    margin-bottom: 10px; 
}

a {
    color: #0FA3B1;
}

.dropdown-menu {
    border: 1px solid #0FA3B1;
}

a:hover,
.nav-link:hover {
    color: #0FA3B1;
    text-decoration: underline;
}

.class-sort-navbar {
    color: #fafafa !important;
    text-align: left;
}

.class-cards {
    color: black !important;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: #0FA3B1;
    opacity: 0.3;
    z-index: -1;
}

.back-to-top-button {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: #fafafa;
    color: #0FA3B1;
}

/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem;
    color: #fafafa;
}

.allauth-form-inner-content input {
    border-color: #0FA3B1;
    border-radius: 0;
}

.allauth-form-inner-content input::placeholder {
    color: #fafafa;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fafafa;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #0FA3B1;
    border: 1px solid #0FA3B1;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fafafa;
    background-color: #0FA3B1;
    border-color:#0FA3B1;
}

.allauth-form-inner-content a {
	color: #0FA3B1; /* text-info */
}

.remove-button {
    cursor: pointer;
}

/* Bootstrap Toasts */

.message-container {
    position: fixed;
    top: 70px;
    right: 15px;
    z-index: 9999999;
}

.custom-toast {
    overflow: visible;
    color: #0FA3B1 !important;
}

.toast-capper {
    height: 5px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

footer {
    background-color: #fafafa;
    color: #0FA3B1;
    text-align: center;
    font-size: 80%;
    height: 100px;
    width: 100%;
    margin-top: auto;
}

.footer-header {
    padding-top: 10px;
}
.social-icons {
    padding: 20px 20px 15px 20px;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

@media (min-width: 769px) {
    #welcome-message {
        padding-top: 20px !important;
    }

    .search-box {
        width: 100%;
    }
    
    .class-info {
        max-width: 100%;
        margin-top: 20px;
        margin-top: 20px;
    }
}

@media (max-width: 578px) {
    .about-header-font {
        font-size: 250%;
    }

    .row {
        margin-right: 0;
    }

    .class-cards {
        padding-left: 60px;
    }
    
    #signup_form {
        width: 100%;
    }

    .table-heading {
        display: none;
    }
    
}

@media (max-width:991px) {
    .header-container {
        height: 100px;
    }

    .basket-container {
        margin-top: 10px;
    }

    body {
        height: calc(100vh - 100px);
    }

    .nav-row {
        flex-wrap: nowrap;
    }

}