html {
    height: 100%;
}

body {
    background: url('/media/site-header.webp') no-repeat center center fixed;
    height: calc(100vh - 164px);
    background-size: cover;
    color: #FAFAFA;
    font-family: 'Montserrat';
}

a {
    color: #0FA3B1;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

@media (min-width: 769px) {
    #welcome-message {
        padding-top: 20px !important;
    }
}
