html {
    height: 100%;
}

body {
    background: url('/media/site-header.webp') no-repeat center center fixed;
    height: calc(100vh - 164px);
    background-size: cover;
    color: #fafafa;
    font-family: 'Montserrat';
}

.header-container {
    height: 164px;
}

.class-list{
    padding-top: 50px;
}


a {
    color: #0FA3B1;
}

.class-cards {
    color: black !important;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: #0FA3B1;
    opacity: 0.3;
    z-index: -1;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

@media (min-width: 769px) {
    #welcome-message {
        padding-top: 20px !important;
    }
}

@media (max-width:991px) {
    .header-container {
        height: 100px;
    }

    body {
        height: calc(100vh - 100px);
    }
}