<div class="container-fluid fixed-top d-none d-lg-block">
    <div class="row">
        <div class="col-12 col-lg-4 my-auto"><a href="{% url 'home' %}" class="nav-link">
            <h2 class="text-uppercase">Align Pilates</h2></a>
        </div>
        <div class="col-3 col-lg-2 my-auto"><a href="">About</a></div>
        <div class="col-3 col-lg-2 my-auto"><a href="">Timetable/Bookings</a></div>
        <div class="col-3 col-lg-2 my-auto">
        <ul class="list-inline list-unstyled text-center text-lg-right my-0">
            <li class="list-inline-item dropdown">
                <a class="text-black nav-link" href="#" id="options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <div class="text-center">
                        <p class="my-0">Member Log In</p>
                    </div>
                </a>
                <div class="dropdown-menu border-0" aria-labelledby="options">
                {% if request.user.is_authenticated %}
                    {% if request.user.is_superuser %}
                        <a href="" class="dropdown-item">Timetable Management</a>
                    {% endif %}
                    <a href="" class="dropdown-item">My Profile</a>
                    <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                {% else %}
                    <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                    <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                {% endif %}
            </div>
        </li>
        </ul>
        </div>
        <div class="col-3 col-lg-2 my-auto">
        <ul class="list-inline list-unstyled text-center text-lg-right my-0">
            <a class="nav-link" href="#" id="options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <div class="text-center">
                <p class="my-0">Want to Join Us?</p>
            </div>
            </a>
            <div class="dropdown-menu" aria-labelledby="options">
            <li class="list-inline-item dropdown-item"><a href="">Join Now</a></li>
            <li class="list-inline-item dropdown-item"><a href="">Register here for more info!</a></li>
        </ul></div>
        </div>
    </div>
</div>