{}{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-8 col-md-6 my-auto">
                <h1 class="display-4">
                    About Us
                </h1>
            </div>
            <div class="col-12 col-md-10">    
                <p> Align Pilates was founded by us, Leah and Catherine in July 2019 right before all of our worlds were
                    turned upside down by the global pandemic. We decided to set up this studio as we both have learned 
                    through personal and professional experience the value of movement and how it can transform not only
                    our physical health but our mental health also.
                    Our ethos in the studio is to move as much as you like while also to move as gently as you need to on
                    any given day. We want our cleints to get as much as they can from this studio whether it be an intense
                    workout or a mellow movement class.
                </p>
            </div>
        </div>
        <div class="row card-testimonials">
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Sarah</h5>
                  <p class="card-text">I started Pilates in April 2022 after covid, I had previously joined so many
                    gyms and never quite felt comfortable there, here in Glow I feel safe to ask questions and that I am
                    moving within my body's safe limits. I love this place.
                  </p>
                  <a href="#" class="btn btn-info">Sarah's Favourite Class Level</a>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Yvonne</h5>
                  <p class="card-text">If I could move in here I would! Love everything about align. You can get whatever
                    type of workout you need here, whether it's a tough class or a gentle movement class. I love the laughs
                    in the studio and just the whole vibe there.
                  </p>
                  <a href="#" class="btn btn-info">Yvonne's Favourite Class Level</a>
                </div>
              </div>
            </div>
          </div>
    </div>
{% endblock %}