{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row add-class-header">
            <div class="col-12 col-lg-6 ">
                <h3>Timetable Management</h3>
                <h4 class="add-class-header">Add a Class</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6">
                <form method="POST" action="{% url 'add_class' %}" class="form mb-2">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <p class="class-number-p">FYI Admins, please ensure day number is entered correctly. That is Monday = 1, Tuesday = 2 and so on.
                        <br>
                        This allows our clients to easily filter classes by day on our timetable!
                    </p>
                    <div class="text-right">
                        <a class="btn btn-info" href="{% url 'classes' %}">Cancel</a>
                        <button class="btn btn-info rounded-0" type="submit">Add Class</button>
                    </div>
                </form>
            </div>            
        </div>
    </div>
    
{% endblock %}
