{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-8 col-lg-6 offset-2">
                <div class="row">
                    <div class="h-100 border-0">
                        <h2>Class Detail</h2>
                        <div class="header">{{ class_type.name }}</div>
                        <div class="body">
                            <p class="subtitle">{{ class_type.level }}</p>
                            <p class="text">{{ class_type.description }}</p>
                            <p class="text">{{ class_type.teacher }}</p>
                            <p class="text">{{ class_type.time }}</p>
                            <p class="text">{{ class_type.day }}</p>
                            {% if class_type.rating %}
                                <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ class_type.rating }} / 5</small>
                            {% else %}
                                <small class="text-muted">No Rating</small>
                            {% endif %}
                        </div>
                        <form class="form" action="{% url 'add_to_basket' class_type.id %}" method="POST">
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="col-12">
                                    <p>Please note classes can only be booked on a weekly basis currently</p>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input class="form-control qty-input" type="number" 
                                            name="quantity" value="1" max="1" min="1" data-item_id="{{ class_type.id }}" 
                                            id="id_date_{{ class_type.id }}">
                                        </div>
                                    </div>
                                </div>
                                {% if request.user.is_superuser %}
                                    <small class="ml-3">
                                        <a href="{% url 'edit_class' class.id %}">Edit</a> | 
                                        <a class="text-danger" href="{% url 'delete_class' class.id %}">Delete</a>
                                    </small>
                                {% endif %}
                                <div class="col-12">
                                    <a href="{% url 'classes' %}" class="btn btn-info">
                                        <span>Continue Browsing</span>
                                    </a>
                                    <input type="submit" class="btn btn-info text-uppercase" value="Book Now">
                                </div>
                                <input type="hidden" name="redirect_url" value="{{ request.path }}">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}