{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container class-info-container">
        <div class="row">
            <div class="col-12 col-md-8 col-lg-8 offset-1">
                <div class="row">
                    <div class="h-100">
                        <h2>Class Detail</h2>
                        <div class="header">{{ class_type.name }}</div>
                        <div class="body">
                            <p class="subtitle">{{ class_type.level }}</p>
                            <p class="text">{{ class_type.description }}</p>
                            <p class="text">{{ class_type.teacher }}</p>
                            <p class="text">€ {{ class_type.cost }}</p>
                            <p class="text">{{ class_type.time }}</p>
                            <p class="text">{{ class_type.day }}</p>
                            {% if average %}
                                <small><i class="fas fa-star mr-1"></i>{{ average }} / 5</small>
                            {% else %}
                                <small class="text-muted">No Rating</small>
                            {% endif %}
                        </div>
                        <form class="form" action="{% url 'add_to_basket' class_type.id %}" method="POST">
                            {% csrf_token %}
                            <br>
                            <div class="form-row">
                                <div class="col-12">
                                    <p>Please note classes can only be booked on a <strong>weekly basis</strong> currently, 
                                    that is if you book a class for example, Thursday you must be able to attend the class on the 
                                    Thursday coming, classes cannot be booked in advanced.</p>
                                    <p>If you wish to book for further ahead please pop back to us on the week of the class
                                        or contact us on our <a href="{% url 'contact_form' %}"> Contact Form </a> and we will 
                                        help sort that for you.
                                    </p>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input class="form-control qty-input" type="number" 
                                            name="quantity" value="1" max="1" min="1" data-item_id="{{ class_type.id }}" 
                                            id="id_date_{{ class_type.id }}">
                                        </div>
                                    </div>
                                </div>
                               {% if request.user.is_superuser %}
                                    <small class="ml-3">
                                        <a href="{% url 'edit_class' class_type.id %}">Edit</a> |
                                        <a class="text-danger" href="{% url 'delete_class' class_type.id %}">Delete</a>
                                    </small>
                                {% endif %}
                                <div class="col-12">
                                    <a href="{% url 'classes' %}" class="btn btn-info class-booking-btns">
                                        <span>Continue Browsing</span>
                                    </a>
                                    <input type="submit" class="btn btn-info class-booking-btns" value="Book Now">
                                    <a href="{% url 'view_basket' %}" class="btn btn-info class-booking-btns">
                                        <span>Checkout</span>
                                    </a>
                                </div>
                                <input type="hidden" name="redirect_url" value="{{ request.path }}">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container ratings-form-container">
        <div class="row rating-form-row">
            <div class="col-12 col-md-8 col-lg-8 offset-1">
                <div class="h-100">
                    <h3>Ratings and Reviews</h3>
                    <br>
                    <form class="form" method="POST">
                        {% csrf_token %}
                        {{ ratings_form | crispy }}
                        <button id="submit-button" class="btn btn-info">
                            <span class="font-weight-bold">Submit</span>
                        </button>
                    </form>
                </div>    
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="container col-12">
                <div class="row">
                    <div class="col-12 col-md-8 col-lg-10 offset-1">
                        <div class="row">
                            {% for rating in ratings %}
                            <div class="card ratings-cards bg-info m-3 border border-white rounded">
                                <div class="card-header">Praise for...</div>
                                <div class="card-body">
                                    <p class="card-text">{{ rating.class_name }}</p>
                                    <p class="card-text"> <i class="fas fa-star mr-1"></i>{{ rating.rating }} </p>
                                    <p class="card-text blockquote font-italic">"{{ rating.review }}"</p>
                                    <p class="card-text font-weight-light">- {{ rating.author }}</p>
                                    <p class="card-text font-weight-light">{{ rating.date }}</p>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}